<b>2.4.0b120-121 (@reider745)</b>
- Исправления прокси браузера модов
- Исправления повреждающихся сохранений в некоторых случаях, из-за коллизии
- Исправлен текст сообщений об ошибках в модах
- Добавлен модуль API GameController, который позволяет эмулировать действия игрока из модов
- Добавлен метод Entity.getAllLocal
- Исправлены каллбеки EntityAddedLocal/EntityRemovedLocal в мультиплеере
- Исправлен метод Player.localPlayerTurn
- Исправления крашей в мод браузере
- Исправления некоторых крашей в игре, в частности от всплывающих сообщений на некоторых прошивках

<b>2.4.0b118-119 (@reider745)</b>
- Улучшение сетевого протокола
- Добавлены методы BlockSource для управления погодой
- Добавлен метод Particles.spawnBreakingItemParticle для создания частиц обломков предмета
- Добавлены методы Item.setShouldDespawn/setFireResistant/setExplodable
- Исправлена утечка памяти при рендере моделей

<b>2.4.0b116-117</b>
<b>Добавлена поддержка серверов с модами на основе ядра ZoteCore от @reider745, что также включает в себя</b>
- Исправления списка серверов (для модпаков список хранится в основной папке модпака)
- Исправление не статичного uuid игрока (от параметров XUID и ника игрока), исправляет сохранения инвентаря в локальной игре
- Добавлена функция синхронизации порта сокет-сервера
- Добавлена синхронизация id биомов
- Другие различные исправления для серверов

Другие изменения (@reider745)
- Добавлен прокси в мод браузере, который включается при невозможности подключиться к основной игре (spawnrys)
- Исправления синхронизации клиентской части TileEntity, добавлены новые методы onConnectionPlayer/onDisconnectionPlayer
- Теперь в сохранениях вместо ошибки будет передаваться пустой объект
- Добавлено условие ICRender.BlockState(x, y, z, stateId, valueState)
- Исправлена работа интерфейсов с челкой (Добавлен переключатель в настройки)
- Оптимизация генерации моделей предметов (добавлены настройки)
- Исправлен loadCustom у статических моделей на подключенных клиентах
- Исправлен Entity.getMobile
- World.getTime может возвращать время на клиенте

Другие изменения (@zheka_smirnov)
- Исправлены частые краши Inner Core при запуске
- Обновлен до последней версии Rhino - движок javascript для модов
- Различные оптимизации нативной части Inner Core
- Добавлен метод Player.localPlayerTurn(x, y)
- Добавлены в PlayerActor canFly/setCanFly, set/get Ability
- Исправлено то что модуль World не работал при подключении в мультиплеере
- Добавлена поддержка пустых ведер для жидкостей
- Исправлен сломанный евент наступания на блок
- Исправлено перемещение игрока с помощью Dimensions.transfer в тоже измерение где он находится
- Небольшие исправления генератора кастомных измерений
- Исправлена установка некоторых модов

<b>2.3.1b114-115</b>
Это обновление включает в себя ряд глобальных оптимизаций, которые должны заметно улучшить производительность. Если у вас установлен Kernel Extension, Core Utility или другие дополнительные ядра, для работы требуется обновить их до последней версии.
- Множество улучшений производительности, стабильности и небольших фиксов
- Исправлен поиск и отсутсвие некоторых предметов в верстаке (например аккумулятор из IC2)
- Поддержка приоритета загрузки модов
- Добавлена экспериментальная встроенная ECS
- Добавлен метод ItemModel.setSpriteHandRender
- Добавлен метод CustomDimensionGenerator.setGenerateCaves(generate[, generateUnderwater]), fixed underwater caves generated by default
- В BlockSource добавлены методы listEntitiesOfTypeInAABB(x1, y1, z1, x2, y2, z2, stringType), fixed listEntitiesInAABB for exact type
- Добавлены методы Player.getLocal() и Player.getServer()
- Добавлены методы UI.getMinecraftUiScale() и UI.getRelMinecraftUiScale()
- Исправлен краш кастомных энчантов
- Исправлена установка сопротивления отбрасыванию броне
- Исправления процесса установки модов

<b>2.2.1b112</b>
- Ванильный верстак теперь поддерживает полный функционал рецептов из модов. Замена интерфейса верстака теперь не используется, но ее можно включить в настройках, если возникнут проблемы.
- Исправлен и улучшен API верстака, добавлена полная поддержка рецептов 2х2
- Добавлен API для создания зачарований: https://gist.github.com/zheka2304/188a43e9ee130c1830af6cdc308cbeff
- Оптимизация и исправления вызовов C++ -> Java
- Оптимизация доступа к TileEntity по координатам
- событие LevelLeft теперь вызывается в правильный момент, теперь серверный тик не произойдет после него. Добавлены ServerLevelLeft и LocalLevelLeft.
- Исправления некоторых отсутствующих иконок в интерфейсе
- Обновлены константы EParticleType

<b>2.2.1b104</b>
- Исправлен баг, из-за которого последний предмет в руке не тратился
- Исправлены анимированные текстуры жидкостей
- Исправлены кастомные ведра в выживании
- Теперь изменение предмета в событии ItemUse без его отмены работает корректно
- Добавлены методы Block.registerClickFunction[ForID](nameId/id, (coords, item, block, player) => void)
- Исправлены координаты, передаваемые в событие раздатчика, добавлен параметр слота (4 аргумент)

<b>2.2.1b103</b>
- При создании жидкости теперь можно автоматически создать ведро с полным функционалом (см. документацию)
- Добавлен параметр isRenewable для жидкостей, отвечающий за то, является ли она возобновляемой
- Исправлено взаимодействие ведер с жидкостями из модов

<b>2.2.1b102</b>
- Добавлен функционал для создания жидкостей, документация: https://gist.github.com/zheka2304/a93f32f612750cbffc637a265fbf9027
- Исправлены различные баги менеджера модов, добавлена возможность искать мод по его id
- Добавлены методы Entity.hasEffect(entity, effectId) и Entity.getEffect(entity, effectId)
- Добавлен метод BlockSource.setDestroyParticlesEnabled(boolean)
- Исправлено то, что Item.invokeItemUseOn не использовал BlockSource переданной сущности
- Исправлены проблемы с ломанием блоков ванильными мечами
- Исправлен вылет при уничтожении присоединяемой модели
- Исправлено создание BlockState по id блока
- Исправлен BlockState.addStates
- Другие, менее значительные исправления

<b>2.2.1b101</b>
- Исправлен баг, из-за которого блоки забора могли неправильно отображаться в мире

<b>2.2.1b100</b>
- Добавлен метод Block.getMaterial(blockId)
- Добавлены методы PlayerActor: getItemUseDuration(), getItemUseIntervalProgress(), getItemUseStartupProgress()
- Исправлена ошибка из-за которой список модов в мультиплеере строился некорректно
- Исправлено то, что BlockSource.listAllEntitiesInAABB не возвращал игрока, если ему не передавали параметров для фильтрации

<b>2.2.1b99</b>
- Исправлен баг, из-за которого синхронизация блоков в мультиплеере могла не работать
- Исправлена проверка совпадения списка модов в мультиплеере
- Исправлен вылет при запуске на старых версиях Android на некоторых устройствах

<b>2.2.1b98</b>
- Исправлен Commands.exec
- Исправлен Entity.getNameTag

<b>2.2.1b97</b>
- Теперь при игре по сети производится дополнительная синхронизация id вариаций блоков, которая должна убрать ошибку с рассинхроном id даже при разных модах на подключенных устройствах

<b>2.2.1b96</b>
- Добавлены методы Recipes.getAllWorkbenchRecipes() и Recipes.getAllFurnaceRecipes()
- Добавлен метод BlockSource.getBiomeDownfallAt(x, y, z)
- Добавлены настройки элемента слота: iconScale и disablePixelPerfect
- Добавлены методы UI.Window: updateScrollDimensions() и updateWindowPositionAndSize() 
- Добавлен новый тип расположения текста 3 - ALIGN_CENTER_HORIZONTAL
- Добавлен метод runOnClientThread(function), аналог runOnMainThread, но для клиентского потока
- Исправления числовых id предметов и связанных рецептов - звезда ада, арбуз, пластинки, лошадиная броня, огненный шар, фейерверки
- Исправлена модель нагрудника для брони из модов

<b>2.2.1b95</b>
- Добавлены методы BlockSource setExtraBlock(x, y, z, BlockState/[id, data]) и getExtraBlock(x, y, z) -> BlockState для доступа и установки дополнительных блоков, таких как вода внутри других блоков
- Добавлены параметры описания блоков "can_contain_liquid" и "can_be_extra_block"
- Добавлены методы Block.canContainLiquid(id) и Block.canBeExtraBlock(id)
- Исправлена ошибка, из-за которой изменения настроек не применялись в первый запуск после изменений
- Исправлены вылеты в конфигурации модов
- Исправлена ошибка, из-за которой настройки языка загружались некорректно
- Добавлена настройка для разработчиков, чтобы создавать дампы информации о всех блоках

<b>2.2.1b94</b>
- Исправлен баг с выбором сборок, возникший в версии 2.2.1b93
- Исправлен метод Item.isValid(id), добавлены методы IDRegistry.getStringIdAndTypeForIntegerId(id), IDRegistry.getTypeForIntegerId(id), IDRegistry.getStringIdForIntegerId(id)
- Исправлен getEnchantName у ItemExtraData

<b>2.2.1b93</b>
- Исправлена еда, добавляемая модами
- Восстановлен базовый функционал PathNavigation
- Добавлены методы для изменения цвета и дистанции подводного тумана, исправлен подводный туман в кастомных измерениях
- Добавлены события EntityAddedLocal и EntityRemovedLocal - аналоги EntityAdded и EntityRemoved на стороне клиента
- Исправлен метод Entity.setOffhandItem
- Добавлен метод Dimensions.getAllRegisteredCustomBiomes(), возвращающий объект, содержащий все кастомные биомы
- Исправления вылетов во время игры
- Исправления ошибок и небольшой редизайн менеджера модов
- Исправлена ошибка, из-за которой могла загрузиться не та сборка модов

<b>2.2.1b92</b>
- Ошибки обновляемых объектов (например механизмов) теперь не выключают все моды, вместо этого они отключают конкретный обновляемый объект.
- Исправления вылетов на некоторых устройствах 

<b>2.2.1b91</b>
- Перенос на версию Minecraft 1.16.201, многие моды, оптимизированные для 1.11.4 будут работать нормально без адаптации.
- Большое обновление системы сохранений
- Добавлен API для рендера присоединяемых моделей (attachables)
- Добавлен API для ванильных вариаций блоков (block states)
- Рефактор загрузчика модов

<b>2.1.0b71</b>
<b><font color='#009900'>Добавлена возможность играть с модами по сети</font></b>. Это позволяет игрокам с одинаковыми модами подключаться друг к другу по локальной сети или через Xbox. Эта возможность является экспериментальной и пока активно разрабатывается и исправляется, однако могут быть баги. Тем не менее мультиплеер отлажен достаточно, чтобы можно было играть. <i>Обращаю особое внимание на то, что наборы модов (и их версии) у всех игроков при игре по сети должны быть одинаковые, иначе при подключении вас кикнет, или даже может вызвать краш.</i>

<b><font color='#990000'>Все моды должны быть переписаны и адаптированы для игры по сети</font></b>, адаптированные моды помечены в браузере модов тегом <font color='#1B3BDB'>[Есть мультиплеер]</font>. При подключении с неадаптированными модами будет выведено предупреждение. Подключиться можно, однако работа может быть некорректной и даже вызвать вылет.

Добавлена возможность логина в Xbox, это позволяет играть по сети не только в локальной сети WiFi, но и на расстоянии. <i>При возникновении любых проблем с игрой по сети в диалоге логина можно открыть помощь, где описано решение часто возникающих проблем</i>.

<u>Многочисленные изменения API, связанные с мультиплеером и не только:</u>
- Модуль Network и связанные с ним модули для поддержки сетевой игры
- Класс BlockSource для доступа к конкретному измерению и PlayerActor для доступа к конкретному игроку
- Класс ItemContainer - контейнер с поддержкой сетевой игры
- Возможность получения и изменения NBT мобов, ванильных TileEntity и предметов
- Новая система кеширования моделей предметов, которая кеширует все модели, а не только измененные модом, и поддерживает группы кеширования
- Добавлен маппинг физических моделей блоков, аналогичный маппингу визуальных моделей
- Добавлена функция оверрайда модели предмета, аналогичная функции оверрайда иконки
- Теперь в функции оверрайда модели/иконки предмета передаются доп. данные предмета (ItemExtraData)
- Многочисленные дополнения параметров старых добавляемых и регистрируемых событий
- Большое количество других, менее значительных изменений и дополнений


<b>2.0.5b43</b>
- Оптимизация графического интерфейса модов. Теперь он должен открываться несколько быстрее и потреблять меньше оперативной памяти.
- Добавлен новый режим стандартного окна, где все содержимое выносится в отдельное окно справа от инвентаря. Для этого нужно использовать UI.StandardWindow вместо UI.StandartWindow, который теперь является устаревшим.
- Генератор пользовательских измерений сильно оптимизирован с помощью снижения детализации шума. Однако в случае, когда нужна высокая детализация, это можно настроить для отдельных генераторов шума.
- Паки ресурсов и поведения теперь внедряются в соответствующие папки каждого мира при входе
- Добавлен экспериментальный модуль TagRegistry. Документация будет через какое то время после его отладки.
- Callback.addCallback теперь принимает опциональный 3 параметр - приоритет, который является целым числом (по умолчанию 0). События с большим значением приоритета вызываются раньше и наоборот.
- Слоты теперь поддерживают анимированый фон, который задается с помощью передачи массива имен текстур, вместо одной.
- Слоты теперь имеют параметр text, а также на них работает метод контейнера setText. При значении этого параметра не null, текст количества будет заменен на значение этого параметра
- Параметры элемента слота isTransparentBackground и его устаревшая версия needClean теперь оба являются устаревшими, теперь слот по умолчанию поддерживает прозрачный фон
- В ItemModel добавлены новые функции, позволяющие устанавливать отдельно текстуру в интерфейсе модов
- Добавлены параметры частиц framesX, framesY для задания количества кадров по вертикали и горизонтали текстуры/региона текстуры
- Добавлен параметр частиц rebuildDelay, отвечающий за время между обновлением поворота частиц
- Добавлен параметр частиц color2 и animators.color, отвечающие за анимирование изменяющегося цвета
- Добавлен метод Updatable.addAnimator(updatable_object), который добавляет обновляемый объект, который тикает на потоке клиента и не сохраняется
- Анимации (статические модели) теперь очищаются при переходе между измерениями
- Добавлена очистка памяти, используемой нативной частью анимаций, при уничтожении самой анимации и соответствующего ей объекта
- RenderMesh теперь может принимать не только абсолютный путь к файлу, но также путь в ресурсах мода или имя файла внутри директории models в ресурсах мода
- Добавлены события DimensionLoaded(currentId, lastId) и DimensionUnloaded(unloadedId)
- Добавлен метод контейнера setOnOpenListener(function(container, window) {...})
- World.clip теперь работает не только на блоки, но и на сущности при определенных значениях параметра mode
- Временно убрана сборка для архитектуры x86, которая пока что не была рабочей, это снизит размер пака
- Исправлена ошибка от двойного вызова WRAP_JAVA на один и тот же класс
- Исправлена генерация иконок блоков со сложными моделями в интерфейсе
- Исправлен дроп полублоков
- Исправлены некоторые текстуры в интерфейсе

<b>2.0.4b36</b>
- Меню настроек Inner Core сильно улучшено и дополнено новыми настройками
- Исправлена критическая ошибка, которая могла вызвать зависание серверного потока.
- Исправлены ошибки, которые могли возникать при загрузке из-за нехватки памяти
- Множествно исправлений ошибок, которые были выявлены через статистику GP
- При установке мода, можно на выбор установить его зависимости
- Система сохранений улучшена: сохранения работают стабильнее, создается резервный файл сохранений, все ошибки сохранений показываются в одном окне и не засоряют экран.
- Немного изменен вид главного меню
- Добавлен метод Entity.getAllInsideBox(coords1, coords2[, type, flag])
- Добавлен метод Entity.getDimension(entity)
- Добавлен метод Item.setAllowedInOffhand(id, allowed)
- Добавлен метод Game.simulateBackPressed()
- Исправлен и улучшен модуль навигации
- Исправлена работа методов Entity.setCarriedItem/setOffhandItem/setArmor, которые не отправляли изменения на клиент
- Исправлены краши, которые могли происходить при переходе между измерениями
- Исправлена работа поворота анимаций
- Исправлена ошибка, из-за которой паки поведения не добавлялись при первом запуске 
- Исправлено возможное дублирование паков поведения модов в папке мира
- Исправлена работа Entity.spawn с мобами аддонов
- Исправлена работа модуля Translation, теперь он позволяет добавлять переводы на язык по умолчанию
- Увеличен объем кеширования имен предметов
- Исправлен метод setTouchable для игровых оверлеев
- Другие мелкие исправления, связанные со стабильностью работы

<b>2.0.3b32</b>
- Исправлены ванильные частицы и полупрозрачные модели модов которые отображались за прозрачными блоками и облаками

<b>2.0.3b31</b>
- Небольшие исправления, включающие в себя исправления кастомых измерений и моделей блоков

<b>2.0.3b30 beta</b>
<u>Основные изменения:</u>
- Добавлена возможность создания пользовательских моделей предметов и блоков в инвентаре/в руке с помощью модуля ItemModel
- Добавлена возможность добавления новых материалов и шейдеров
- Добавлен новый режим Animation.Base - модель с пользовательским материалом, чтобы войти в этот режим используйте describe({mesh: RenderMesh, skin: "texture name", material: "material name"})
- Блоки с моделями ICRender автоматически получат модели в инвентаре и в руке.
- Анимации предметов поддерживают пользовательские модели и материалы (теперь используют RenderMesh)
- Параметр описания блоков rendertype теперь работает корректно и влияет на модель в интерфейсе
- Переписан весь код, относящийся к моделям предметов
- Добавлена новая стадия загрузки - генерация моделей предметов, которые теперь содаются не во время загрузки модов, а после нее
- Добавлены настройки в конфигурацию движка - disable_loading_screen - отключение загрузочного экрана и performace.server_thread_priority - приоритет серверного потока
- Глобальная оптимизация
<u>Другие изменения:</u>
- Улучшена система TileEntity: теперь не загруженные или не имеющие тика TileEntity не будут загружать лимит обновлений. Добавлены события load() и unload(), а так же onCheckerTick(isInitialized, isLoaded, wasLoaded)
- Добавлены функции в модуль World: clip(x1, y1, z1, x2, y2, z2, mode), doesVanillaTileHasUI(id), setBlockUpdateAllowed(true, false), setBlockUpdateType(type), getRelativeCoords(x, y, z, side), getVectorByBlockSide(side), getInverseBlockSide(side)
- Добавлена функция Block.registerNeighbourChangeFunction[ForID](id, function(coords, block, changeCoords){})
- Добавлена функция Block.registerEntityInsideFunction[ForID](id, function(coords, block, entity){})
- Добавлена функция Block.registerEntityStepOnFunction[ForID](id, function(coords, block, entity){})
- Добавлены функции Block.setupAsRedstoneReceiver(nameID, connectToRedstone) - делает блок приемником редстоуна, Block.setupAsRedstoneEmitter(nameID, connectToRedstone) - делает блок источником редстоуна, Block.setupAsNonRedstoneTile(nameID) - убирает всю связь с редстоуном
- Описанию типа блока добавлен параметр mapcolor, который задает цвет блока на карте (в формате 0xRRGGBB)
- Описанию блока добавлен параметр sound, устанавливает один из стандартных типов звуков
- Добавлены методы RenderMesh: rotate(x, y, z, rx, ry, rz), fitIn(x1, y1, z1, x2, y2, z2[, keepRatio]), clone()
- Добавлен метод RenderMesh.setLightPos(x, y, z) - устанавливает относительную позицию для получения освещения блока
- Добавлены методы RenderMesh - setNoTint(), setGrassTinted(), setFoliageTinted(leavesType), setWaterTinted()
- Добавлен метод RenderMesh - addMesh(mesh[, x, y, z[, scaleX, scaleY, scaleZ]]), setColor теперь принимает 4 параметр - alpha
- Добавлено условие ICRender.RANDOM(value, max[, seed]) - условие для добавление случайности, генерирует для позиции случайную величину от 0 до max - 1, и срабатывает, если она равна value. Имеет метод setAxisEnabled(0-2, enabled), позволяющая игнорировать одну (или несколько) из трех координат.
- Добавлены методы скриптов предзагрузки - Resources.getAllMatchingResources("regex"), Resources.getResourcePath("local path"), Resources.getAllResourceDirectoriesPaths()
<u>Исправления:</u>
- Исправлена проблема с тратой предметов при нажатии на блоки с интерфейсом
- Исправлен вылет от моделей мобов
- Исправлен вылет от большого количества блоков с RenderMesh в чанке
- Исправлены методы для работы с опытом игрока
- Исправлены трехмерные модели после сворачивания игры

<b>2.0.2b19 beta</b>
- Исправление краша при запуске, появившегося в 2.0.1b18 на некоторых устройствах (glGetString)

<b>2.0.2b18 beta</b>
- Добавлен интерфейс загрузки модов
- Добавлены директории innercore/resource_packs, innercore/behaviour_packs для добавления ресурспаков MCPE 
- Локальные ресурспаки мира теперь автоматически подключаются
- Добавлен полноценный интерфейс для создания новых биомов
- Добавлены возможности для генерации карты биомов измерения
- Добавлен модуль AddonEntityRegistry и методы работы с мобами, добавляемыми аддонами
- Добавлен улучшенный API для новых измерений
- Добавлен звук при установке механизмов
- Исправлено зависание интерфейса после быстрых нажатий на блок или предмет с интерфейсом
- Исправлен дроп от World.destroyBlock
- Исправлены методы Player.setHunger, Player.setSaturation, Player.setExhaustion
- Исправлен вылет от предметов с пустым и не английским базовым именем
- Исправлено появление сообщения о фатальной ошибки, когда ее не происходило
- Другие небольшие исправления

<b>2.0.1b9 beta</b>
- Улучшена производительность и стабильность
- Интерфейс исправлен и сделан в классическом стиле (для стандартных окон)
- Верстак так же переделан в классическом стиле
- Интерфейс модов теперь будет закрываться при нажатии кнопки назад
- Исправлены различные краши, связанные с API модов
- Теперь, если возникнет фатальная ошибка, отключающая все моды, до перезахода в мир будет показываться соответствующее сообщение

<b>2.0.0b2 beta</b>
- Небольшие исправления перед релизом

<b>2.0.0 beta</b>
- Певая версия в открытом доступе