<b>2.4.0b123 (@rislaed)</b>
Mod Manager features & fixes:
- Added dependencies and add-ons sections for mod pages, displays mods and modpacks
- Improvements for switching to proxy. On failure display a message, suggesting using VPN
- [Adapted] mod label was removed, now non-adapted mods are displayed as [Obsolete]
- Added a switch to enable/disable mods, appears only in the installed mods tab
- Added section with screenshots to modpacks (not displayed if modpack has one screenshot), included dependencies and comments
- Mods popular category has been replaced by default redaction category, this is to move outdated mods to bottom of list
- Searching with icmods: prefix can search for multiple mods at once and opens modpacks correctly
Other:
- Rollback 122o1 changes for Inner Core Test
- Added new enum - EDamageCause
- Support config group title translation via config.info.json
- Fixed implementing Java abstract classes in JavaScript
- Added Updatable.getAllLocal(), Updatable.getLocalSyncTime()
- Refresh selection after slot element reset
- Removed rounding of slot element size
- Fixed ItemContainer.sealSlot
- Set default damage of ToolAPI.registerTool to 4

<b>2.4.0b122o1</b>
- Minor tweaks & internal refactor

<b>2.4.0b122 (@reider745)</b>
- Added World.addListenerChunkStateChanged/addLocalListenerChunkStateChanged(listener, statesList) methods to track chunks loading and unloading
- Added Game.getOption(key) to get option value, Game.getOptions() to list all available keys
- Added OptionsChanged callback, which is called when game options change
- Added support for binary data packets, pass byte array to send them
- Fixed dispensers functionality with modded liquid buckets
- Fixed player passed to CraftRecipePreProvided callback

<b>2.4.0b120-121 (@reider745)</b>
- Fixed mod browser proxy
- Fixed broken saves bugs due to collision
- Fixed mod error messages localization
- Added API module GameController, to emulate player actions from mods
- Added Entity.getAllLocal method
- Fixed EntityAddedLocal/EntityRemovedLocal callbacks in multiplayer
- Fixed Player.localPlayerTurn
- Mod browser minor crash fixes
- In-game minor crash fixes

<b>2.4.0b118-119 (@reider745)</b>
- Net protocol improvements
- Added BlockSource methods for weather control
- Added Particles.spawnBreakingItemParticle method
- Added Item.setShouldDespawn/setFireResistant/setExplodable methods
- Fixed memory leaks in mesh render

<b>2.4.0b116-117</b>
<b>Added modded server support based on ZoteCore by @reider745, related changes:</b>
- Fixed server list tab, modpacks can now have their own server list
- Fixed player UUID was not stored, which broke local multiplayer inventory and servers
- Added sync for socket server port
- Added sync for biome ids
- Other server-related fixes

Other changes (@reider745)
- Added proxy to mod browser, which is used in case main url is not available (by @spawnrys)
- Fixed TileEntity sync, added methods onConnectionPlayer/onDisconnectionPlayer
- In case of saves failture, they will now default to empty js object
- Added ICRender condition ICRender.BlockState(x, y, z, stateId, valueState)
- Fixed UI on devices with notch (Added switch to config)
- Optimized static item models (Added to config)
- Fixed loadCustom in remote sessions
- Fixed Entity.getMobile
- Fixed World.getTime in remote sessions

Other changes (@zheka_smirnov)
- Fixed frequent crashes when launching Inner Core
- Updated Rhino to latest version - javascript engine for mods
- Many optimization in native code of the Inner Core
- Added Player.localPlayerTurn(x, y)
- Added PlayerActor methods canFly/setCanFly, set/get Ability
- Fixed World module was not working in remote sessions
- Added support for custom empty buckets, when registering custom liquids
- Fixed crash in block step on event
- Fixed Dimensions.transfer when transfering into the same dimension
- Minor fixes to custom dimension generator
- Fixed installation of some mods

<b>2.3.1b115</b>
- A lot of minor optimizations, fixes and stability improvements
- Fixed some recipes were missing in workbench (like IC2 batteries)
- Mod loading priority support
- Preview built-in ECS
- Added ItemModel.setSpriteHandRender method
- Added CustomDimensionGenerator method setGenerateCaves(generate[, generateUnderwater]), fixed underwater caves generated by default
- Added BlockSource method listEntitiesOfTypeInAABB(x1, y1, z1, x2, y2, z2, stringType), fixed listEntitiesInAABB for exact type
- Added Player.getLocal() and Player.getServer() methods
- Added UI.getMinecraftUiScale() and UI.getRelMinecraftUiScale() methods
- Fixed enchant custom callbacks crash
- Fixed knockback resistance for custom armor
- Fixes for mod installation

<b>2.2.1b114</b>
This update introduces series of global optimizations, significantly increasing overall performance. NOTE: for users, who have Kernel Extension installed, it must be updated to the final version!

<b>2.2.1b107-108</b>
- Fixed and improved workbench API, added full support for 2x2 recipes
- Fixed workbench was not triggering screen change callback
- Fixed bug that some blocks and items were not created properly 

<b>2.2.1b106</b>
- Vanilla crafting table now supports modded recipes. Crafting table UI override was disabled, but can be enabled in settings, if something will go wrong.
- Faster access to modded tile entities
- Fixes and optimization for C++ to Java calls

<b>2.2.1b105</b>
- Added experimental API for creating custom enchants: https://gist.github.com/zheka2304/188a43e9ee130c1830af6cdc308cbeff
- Minor optimization for C++ to Java calls
- Minor fixes for icons in UI

<b>2.2.1b104</b>
- Fixed last item in hend was not spending 
- Fixed animated liquid textures
- Fixed endless custom buckets in survival
- Now changing items in ItemUse callback are handled correctly when not prevented
- Added Block.registerClickFunction[ForID](nameId/id, (coords, item, block, player) => void)
- Fixed position, passed dispense callback, added slot parameter (4th argument)

<b>2.2.1b103</b>
- When creating liquids you can now automatically create buckets with full functionality (see docs)
- Added isRenewable parameter for custom liquids
- Fixed bucket interaction with custom liquids

<b>2.2.1b102</b>
- Added methods for creating liquid blocks, docs: https://gist.github.com/zheka2304/a93f32f612750cbffc637a265fbf9027
- Fixed some mod manager issues and crashes, added ability to search mod by its id
- Added Entity.hasEffect(entity, effectId) and Entity.getEffect(entity, effectId)
- Added BlockSource.setDestroyParticlesEnabled(boolean) method
- Fixed Item.invokeItemUseOn not using given entity block source
- Fixed vanilla swords tool data
- Fixed destroying attachables was causing crash
- Fixed creating block states by block id
- Fixed BlockState.addStates was not accepting JS object
- Other minor fixes

<b>2.2.1b101</b>
- Fixed some fence blocks were not displayed correctly in world

<b>2.2.1b100</b>
- Added Block.getMaterial(blockId)
- Added PlayerActor methods: getItemUseDuration(), getItemUseIntervalProgress(), getItemUseStartupProgress()
- Fixed multiplayer mod list was built with incorrect mod info
- Fixed BlockSource.listAllEntitiesInAABB was not returning player, when passed no filter parameters

<b>2.2.1b99</b>
- Fixed syncing runtime ids in multiplayer could fail
- Fixed multiplayer mod list check was not working
- Fixed startup crash on old android versions on some devices

<b>2.2.1b98</b>
- Fixed Commands.exec
- Fixed Entity.getNameTag

<b>2.2.1b97</b>
- Now when connecting to remote world, additional synchronization is done, to assure block runtime ids will match even in case of different mods.

<b>2.2.1b96</b>
- Added methods Recipes.getAllWorkbenchRecipes() and Recipes.getAllFurnaceRecipes()
- Added method BlockSource.getBiomeDownfallAt(x, y, z)
- Added slot element properties: iconScale and disablePixelPerfect
- Added methods for UI.Window: updateScrollDimensions() and updateWindowPositionAndSize() 
- Added new text alignment type: 3 - ALIGN_CENTER_HORIZONTAL
- Added functon runOnClientThread(function), works as runOnMainThread, but for client ticking thread
- Fixed some item ids compatibility and related recipes - nether start, melon, records, horse armor, fireball, fireworks
- Fixed chestplate model for modded armor

<b>2.2.1b95</b>
- Added BlockSource methods setExtraBlock(x, y, z, BlockState/[id, data]) and getExtraBlock(x, y, z) -> BlockState to access and modify extra blocks, such as liquids in other blocks
- Added block description parameters "can_contain_liquid" and "can_be_extra_block"
- Added methods Block.canContainLiquid(id) and Block.canBeExtraBlock(id)
- Fixed settings changes were not applied on first launch after change
- Fixed crashes in mod config
- Fixed language settings were not loaded correctly
- Added developer option to output block state info dump

<b>2.2.1b94</b>
- Fixed new modpack selecting bug from 2.2.1b93
- Fixed Item.isValid(id), added IDRegistry.getStringIdAndTypeForIntegerId(id), IDRegistry.getTypeForIntegerId(id), IDRegistry.getStringIdForIntegerId(id)
- Fixed getEnchantName from ItemExtraData

<b>2.2.1b93</b>
- Fixed modded food
- Restored basic functionality of PathNavigation
- Added API to override underwater fog parameters and fixed underwater fog in custom dimensions
- Added EntityAddedLocal and EntityRemovedLocal callbacks - client side variants of EntityAdded and EntityRemoved 
- Fixed Entity.setOffhandItem
- Added Dimensions.getAllRegisteredCustomBiomes() method, returning map of all custom biomes
- Various possible in-game chashes fixed
- Fixed some mod manager crashes & minor redesign
- Fixed wrong modpack can be loaded, when multiple modpacks are installed
- Improved Chinese support

<b>2.2.1b92</b>
- Errors in updatables (for example machines) now will not shutdown all mods until world reload. Instead it will disable only updatable, causing error.
- Crash fixes

<b>2.2.1b90-91</b>
- Previous version hotfix

<b>2.2.1b89</b>
- Fixed bug when block ids were not synced in multiplayer
- Added vanilla block states API
- Fixed workbench for connected players
- Fixed generation callbacks errors
- Improved saves stability
- Fixed links and guides page
- Fixed excess items were added to creative

<b>2.2.1b88</b>
- Added callback EntityPickUpDrop(entity, dropEntity, dropStack, count), it is called, when entity picks up dropped item, right now works only for players
- Updated guides and links page, added links to mod and modpack development guides
- Minor fixes for ItemModel and other crashes and errors

<b>2.2.1b87</b>
- Fixed modpack system and mod manager issues
- Fixed missing or invalid workbench recipes and item icons
- Added useful links to preferences and links menu

<b>2.2.1b86</b>
- Global engine optimization will increase overall modded performance
- Fixed lags in creative inventory, when items with extra data are present
- Minor optimization for creative search

<b>2.2.1b85</b>
- Massive update to mod manager with alot of new features, fixes and improvements
- Added modpack support, including installation, modification and creating your own
- Block models are now loading faster and consume less RAM
- BlockSource.breakBlock/ForJsResult methods now also invoke DestroyBlock callback, if actor is passed as a parameter and exists in BlockSource's dimension (and it was not prevented by BreakBlock callback)

<b>2.2.0b84</b>
- Added PreProcessChunk and PostProcessChunk callbacks - universal world generation callbacks. First one called before vanilla structures generation and second one after it. All others callbacks are called after vanilla generation but before PostProcessChunk
- Fixed missing bed and chest recipes
- Fixed using mesh in ActorRenderer
- Fixed rare crashes when entering and leaving the world
- Fixed transparency was not working for far blocks
- Fixed config.json interaction with .redirect
- Added slot element binding selection_forced

<b>2.2.0b83</b>
- Rework for block drop system
- Added callback BreakBlock (BlockSource, position, block, isDropAllowed, player, item) - called when block is destroyed, unlike DestroyBlock can be called not only when block is destroyed by player, but also by new BlockSource methods. This callback is used for block drops, player destroy logic must remain in DestroyBlock
- Drop functions now using BreakBlock
- Added blocksource methods BlockSource: breakBlock(x, y, z, isDropAllowed[, actor][, item]) - destroys block, calls BreakBlock, breakBlockForJsResult(x, y, z[, actor][, item]) - same as breakBlock, but instead of dropping items and exp orbs, returns: {experience:, items: [{id:, count:, data:, extra:}, ...]}

<b>2.2.0b82</b>
- Added ItemContainer methods setSlotSavingEnabled(name, enabled), setGlobalSlotSavingEnabled(enabled), they are used to control, which slots are saved
- Added parameter to destroy method of tile entity, that indicates, if it was destroyed in DestroyBlock callback
- Optimized inventory editing methods for player
- Fixed editing player abilities, including flying
- Fixed server open listener in ItemContainer was called before open packet is sent
- Fixed some furnace recipes
- Fixed loading bug on older android versions
- Fixed breaking ice

<b>2.2.0b79-81</b>
- Added missing and fixed existing workbench recipes
- Fixed constant startup crashes on some devices (new bug since 1.16.201)
- Fixed frequend startup crashes on some devices (old bug since 1.11.4)

<b>2.2.0b78</b>
- Continued fixing worldgen

<b>2.2.0b77</b>
- Fixed modded world generation was called multiple times per chunk. It will significantly reduce lag. 
- Modded world generation now called AFTER vanilla worldgen.
- Another attemt to fix loading mods on some devices
- Added log methods: Logger.debug(tag, message), Logger.info(tag, message), Logger.error(tag, message[, error]);

<b>2.2.0b76</b>
- Fixed loading mods with resource packs
- Fixed saves errors
- Fixed loading mods on some devices
- Added parameter "category" in Item.createItem

<b>2.2.0b75</b>
- Updated for Minecraft 1.16.201
- Multiplayer might experience some issues with ID sync, if it happens, try swapping host and client
- Added API for armor and attachable renderer
- Major refactor for mod loader
- Major refactor for saves system and some other engine modules
- Started working on ECS and Java API



<b>2.1.0b72</b>
- Now, when connecting to host with some blocks or items, missing on client, placeholders will be created to prevent crash
- Native protocol tested on extremely high load, possible lags and crashes fixed

<b>2.1.0b71</b>
- Saving previously logged in Xbox account (experimental)
- Minor fixes

<b>2.1.0b70</b>
- Added multiplayer FAQ in Xbox login window.
- Increased initialization packet timeout up to 90 seconds.
- Fixes for network entities
- Other minor fixes

<b>2.1.0b69</b>
- Nice, we have reached this point
- Fixed items with extra data were sometimes invisible in vanilla UI
- Added getLightLevel(x, y, z) to BlockSource 

<b>2.1.0b68</b>
- Minor improvements to native protocol (Xbox multiplayer).


<b>2.1.0b65-67</b>
- Made Xbox login functional on most devices.

<b>2.1.0b64</b>
- Added experimental custom xbox login feature. You can connect to your friends from xbox account with same mods as yours (with multiplayer support). Xbox connection will use only native protocol, that was added in 2.1.0b63.

<b>2.1.0b63</b>
- Added ability to use multiplayer with native minecraft protocol. This option can be turned on in engine config. Native protocol might reduce ping, but could be less stable.
- Minor fixes

<b>2.1.0b61-62</b>
- Fixes for ItemContainer and BlockSource
- Other fixes

<b>2.1.0b60</b>
- Added method exists() to animations
- Minor fixes

<b>2.1.0b59</b>
- Added methods BlockRenderer.setCustomRaycastShape(id, data, collisionShape), BlockRenderer.setCustomCollisionAndRaycastShape(id, data, collisionShape)
- Added methods BlockRenderer.mapCollisionModelAtCoords(dimensionId, x, y, z, model), BlockRenderer.mapRaycastModelAtCoords(dimensionId, x, y, z, model), BlockRenderer.mapCollisionAndRaycastModelAtCoords(dimensionId, x, y, z, model), for collision and raycast shape mapping, passing null model will unmap it, mapping works on any block including air
- Added BlockSource method getBlock(x, y, z), returning object, that contains both id and data
- Clearing mapped render models (not collision ones) on local player dimension change as well as animations
- Other minor fixes

<b>2.1.0b58</b>
- Minor fixes

<b>2.1.0b57</b>
- Added method Network.inRemoteWorld() - returns true, if player connected to remote world
- Added callback ItemUseLocal(coords, item, block, player) for client side item use
- Added callback ConnectingToHost(host, minecraftPort, moddedPort)
- Improvements for NetworkConnectedClientList
- Added method BlockSource.getCurrentClientRegion()
- Other minor fixes

<b>2.1.0b56</b>
- New item caching system, that caches every complex icon, not only custom models and allows creating of model cache groups
- Call ItemModel.setCurrentCacheGroup("groupName", "version") at the start of your mod to create cache group, it will be applied to all models, created at the root of your mod (including default ones). If specified version does not match cache version, whole group will be re-created.
- Fixed ItemContainer interaction with items with extra data. 

<b>2.1.0b55</b>
- Fixed compatibility with Recipe Viewer
- Added block special type parameter color_source, can be one of "none", "leaves", "grass", "water"
- Sped up loading of item models and made it less RAM consuming
- Minor improvements

<b>2.1.0b48-54</b>
Following updates contain fixes for multiplayer update.

<b>2.1.0b47</b>
This update adds experimental LAN multiplayer support, allowing players on same Wi-Fi and same set of mods play together. 

ALL MODS NEED TO BE UPDATED TO SUPPORT MULTIPLAYER. Playing with mods without multiplayer support (warning will appear) might cause undefined behaviour or even crash, so do it at your own risk.

Alot of new API modules, callbacks and functions were introduced in this update, but backwards compatibility remains. There will be a migration guide for mod developers.


<b>2.0.5b46</b>
- Fixed 2.0.5b45 bug, which caused icon problems of items with extra data
- Fixed mod manager didnt show redirected mods

<b>2.0.5b45</b>
- Added item model method setModelOverrideCallback(function(item) {...}), acts like itemOverrideFunctions, but returns ItemModel instance, instead of icon
- Added method ItemModel.newStandalone(), creates empty ItemModel instance, not linked to any item, this models should be used in setModelOverrideCallback
- Item override function now receives extra data
- Fixed crash, caused by calling toScriptable() method of NBT tags
- D8 dexer, instead of old DX is now used to build dex files from java

<b>2.0.5b44</b>
- Mods now can access and modify NBT of entities, tile entities and items. Docs are located at the bottom.
- Added functions: Entity.getCompoundTag(entity), Entity.setCompoundTag(entity, tag)
- Added methods to vanilla TileEntity, returned by World.getContainer(): getCompoundTag(), setCompoundTag(tag)
- Added methods to ItemExtraData: getCompoundTag(), setCompoundTag(tag)
- Mod UI now supports modded animated item icons
- Icon override functions now receives second parameter - isModUi
- Added function Debug.big, acts like Debug.m, but outputs dialog with selectable text and pretty JSON
- TileEntity function click now receives additional parameter - click coords
- Fixed rare addon-related crash

NBT.CompoundTag (map, string keys):
- constructor() - creates empty tag
- constructor(NBT.CompoundTag) - creates tag copy
- toScriptable() - returns javascript object, that represents contents
- getAllKeys() - returns java array with all keys
- contains(key) - checks tag contains key
- containsValueOfType(key, type) - checks tag contains key and value is desired type
- getValueType(key) - returns value type by key (type is integer)
- get(Byte|Short|Int|Int64|Float|Double|String|CompoundTag|ListTag)(key) - value getters
- put(Byte|Short|Int|Int64|Float|Double|String|CompoundTag|ListTag)(key, value) - value setters
- remove(key) - deletes value by key
- clear() - deletes all values

NBT.ListTag (list, non-negative integer indices):
- constructor() - creates empty list
- constructor(NBT.ListTag) - creates list copy
- toScriptable() - returns javascript object, that represents contents
- length() - returns list length
- getValueType(index) - returns value type by index (type is integer)
- get(Byte|Short|Int|Int64|Float|Double|String|CompoundTag|ListTag)(index) - returns value by index
- put(Byte|Short|Int|Int64|Float|Double|String|CompoundTag|ListTag)(index, value) - set value by index, if index >= length, adds to the end, if index < 0 adds to beginning, else replaces
- clear() - deletes all values

<b>2.0.4b43</b>
- Automatically deleting resource and behavior packs from uninstalled mods upon world load
- RenderMesh now can receive not only absolute file path, but also resource path and name of file in models/ dir in resources.
- Deprecated slot element parameters isTransparentBackground and needClean, now slot supports transparent background by default
- Added container method setOnOpenListener(function(container, window) {...})
- Removed shared objects, built for x86 ABI to reduce overall weight
- Fixed error, that occurred after second WRAP_JAVA call on same class

<b>2.0.4b42</b>
- Callback.addCallback now has third optional parameter - priority (integer, default value is 0). Callbacks with higher priority will be called earlier
- UI slots now support animated background (texture name array must be passed instead of single name). For other textures in UI this feature was already present.
- UI slots now has text parameter, also container.setText work on them. If this parameter is not null, it value will be shown instead of count
- World.clip now works on actors, but only on certain mode parameter values.
- Fixed block icon generation for ICRender models.

<b>2.0.4b41</b>
- Attemt to fix blurry UI on some devices

<b>2.0.4b40</b>
- Optimized mod UI, making it a bit faster and consume less RAM
- Added new mode for standard window, making all contents appear in separate window instead of background one. To use it in a new mode, use UI.StandardWindow instead of misspelled UI.StandartWindow
- Resource and behavior packs are now injected inside each world upon enter
- Animations (static models) are now cleaned up on dimension change
- Animations are now garbage collected after they are destroyed in world
- Added Updatable.addAnimator(updatable_object), which adds updatable, that ticks on client thread and never saves

<b>2.0.4b39</b>
- Minor fixes for previous version

<b>2.0.4b38</b>
- Added TagRegistry module. Docs will be available after some tests and maybe rework.
- Added particle type properties framesX and framesY, which define frame grid size.
- Added particle type property rebuildDelay, which defines time in ticks between particle mesh updates
- Added particle type properties color2 and animators.color, which allow animation of particle color
- Fixed slabs drop
- Fixed some textures in ui

<b>2.0.4b37</b>
- Custom dimension generator got heavy optimizations by decreasing noise level of detail. However, custom level of detail now can be set to individual noise generators. 
- ItemModel got new methods, that can set custom bitmap as icon in mod ui
- Added DimensionLoaded(currentId, lastId) and DimensionUnloaded(unloadedId) callbacks

<b>2.0.4b36</b>
= More minor fixes

<b>2.0.4b34-35</b>
- Inner Core preferences menu was majorly improved and new settings were added
- Fixed critical error, that could cause server thread to stop
- Fixed OutOfMemory crashes, that could occur during startup
- Alot of minor fixes from GP statistics
- After installing mod you can now install all its dependencies 
- Saving system improved: overall stability increased, saves backup is created and all saves errors, if occured, are now displayed in one window instead of one window per error
- Main menu is slightly redesigned
- Added function Entity.getAllInsideBox(coords1, coords2[, type, flag])
- Added function Entity.getDimension(entity)
- Added function Item.setAllowedInOffhand(id, allowed)
- Added function Game.simulateBackPressed()
- PathNavigation is majorly fixed and improved
- Fixed Entity.setCarriedItem/setOffhandItem/setArmor were not sending data to client on non-player entities
- Fixed some crashes, that could occur while transferring between dimensions
- Fixed rotation of animations
- Fixed error, that caused mod behavior packs to be ignored on first launch
- Fixed duplication mod behavior packs in world folder
- Fixed Entity.spawn was working incorrectly with addon entities
- Fixed Translation module doing English to English translations
- Increased item name caching capacity
- Fixed window method setTouchable not working for game overlays
- Other minor stability-related fixes

<b>2.0.3b33</b>
- Added support for custom shader uniforms, that can be passed for individual models (more documentation will be released soon)
- Added support for controlled entity navigation via Entity.getPathNavigation(entity)
- Added function Entity.getAttribute(entity, name) to access and modify entity attributes
- Added functions: Player.setAbility(name, value), Player.getFloatAbility(name), Player.getBooleanAbility(name)
- Added uniform vec3 VIEW_POS to shaders on world models (animations) 

<b>2.0.3b32</b>
- Fixed vanilla particles and mod models with blending drawing behing alpha-tested blocks and clouds

<b>2.0.3b31</b>
- Minor fixes, including custom dimensions and block meshes in hand render

<b>2.0.3b30</b>
- All changes applied to main version
- Fixed item icons with metadata

<b>2.0.2b29</b>
- Better TileEntity system: now unloaded TileEntities, or ones without tick function will not be counted, when checking updatable limit. Added TileEntity functions load(), unload() and onCheckerTick(isInitialized, isLoaded, wasLoaded)
- Fixed crash with mob custom models
- Other minor fixes

<b>2.0.2b28</b>
- Added option disable_loading_screen, that disables loading screen and loads mods on main thread
- Fixed World.clip, RenderMesh.clone, Block.setupAsRedstone[Receiver/Emitter]
- Fixed some crashes from item models

<b>2.0.2b27</b>
- Fixed issue with spending items when tapping on block with UI
- Added functions to World module: clip(x1, y1, z1, x2, y2, z2), doesVanillaTileHasUI(id), setBlockUpdateAllowed(true, false), setBlockUpdateType(type)
- Fixed functions for player experience work
- Fixed meshes after app was minimized 

<b>2.0.2b26</b>
- Added server thread priority to Inner Core config
- Added Block.registerNeighbourChangeFunction[ForID](id, function(coords, block, changeCoords){})
- Added Block.registerEntityInsideFunction[ForID](id, function(coords, block, entity){})
- Added Block.registerEntityStepOnFunction[ForID](id, function(coords, block, entity){})
- Added RenderMesh methods rotate(x, y, z, rx, ry, rz), fitIn(x1, y1, z1, x2, y2, z2[, keepRatio]), clone()
- Fixed colors and mesh position in item models

<b>2.0.2b25</b>
- Added block description property - sound, sets one of standard block sound types
- Added RenderMesh method setLightPos(x, y, z) - set relative position for block lighting
- Added RenderMesh method parameter setFoliageTinted(leavesType)
- Fixed ItemModel.occupy() method not preventing setting ICRender models

<b>2.0.2b24</b>
- Fixed crash from massive amount of blocks with RenderMesh
- Added methods to RenderMesh - setNoTint(), setGrassTinted(), setFoliageTinted(), setWaterTinted()
- Added preloader scipt methods - Resources.getAllMatchingResources("regex"), Resources.getResourcePath("local path"), Resources.getAllResourceDirectoriesPaths()

<b>2.0.2b23</b>
<u>UI and world item models engine was fully rewritten:</u>
- Mod UI support custom item models (non-meshes for now)
- Item animations now based on RenderMesh and support custom item models and materials
- Generating item models moved to new loading phase
- Item model caching will make their generation much faster after first launch
- ItemModel API module is massively improved and allows access to all model-related stuff
- Additional materials can be passed to handle glint on item models
- Block rendertype parameter is fixed and will affect block item model 
<u>Other improvements:</u>
- Added condition ICRender.RANDOM(value, max[, seed]) - for given block position generates random number from 0 to max - 1, and returns, if it is equal to value. Has method setAxisEnabled(0-2, enabled) to ignore some axises.
- Added functions Block.setupAsRedstoneReceiver(nameID, connectToRedstone), Block.setupAsRedstoneEmitter(nameID, connectToRedstone, Block.setupAsNonRedstoneTile(nameID)
- RenderMesh: added method addMesh(mesh[, x, y, z[, scaleX, scaleY, scaleZ]]), alpha value now can be passed to setColor
- Added block description property - mapcolor, sets 0xRRGGBB map color to block

<b>2.0.2b22</b>
- Minor fixes and improvements

<b>2.0.2b21</b>
- (Experimental) Global optimization, attempting to increase FPS by using dynamic thread priority
- (Experimental) World generation optimized
- Minor fixes for item models

<b>2.0.2b20</b>
This update adds alot and might be unstable.
- Added ability to create custom materials and shaders (more info will be provided soon)
- Added UI and in-hand item models, to access use ItemModel.getFor(id, data)
- Added new animation mode - direct mesh render with material, to enter this mode call method describe({mesh: RenderMesh, skin: "texture name", material: "material name"})
- Blocks with ICRender will automatically gain inventory models
- Added custom dimension methods: setFogDistance(close, far), resetFogDistance()
- Other minor fixes

<b>2.0.1b18</b>
- Added directories innercore/resource_packs, innercore/behaviour_packs for adding resource and behaviour packs
- Local world resource and behaviour packs are now automatically forced for this world
- Added module AddonEntityRegistry and functions to work with addon-added mobs
- Minor fixes

<b>2.0.1b17</b>
- Added GenerationUtils.generateOreCustom(x, y, z, id, data, amount, mode, listOfIds[, seed]), also added optional seed parameter to GenerationUtils.generateOre
- Fixed drops from World.destroyBlock
- Fixed Player.setHunger, Player.setSaturation, Player.setExhaustion
- Fixed some block drops

<b>2.0.1b16</b>
- Added machine place sound
- Fixed some block drops
- Minor fixes for custom dimensions

<b>2.0.1b15</b>
- Attempt to optimize biome map

<b>2.0.1b14</b>
- Temporary disabled biome maps

<b>2.0.1b13</b>
- Minor fixed and optimizations

<b>2.0.1b12</b>
- Added better API for new custom dimensions
- Fixed empty and non ASCII base item name crash (Mods like Divine RPG)

<b>2.0.1b11</b>
- Added API for custom biomes
- Added callback GenerateBiomeMap, that uses World.get/setBiomeMap to build chunk biome map before any generation
- Added new parameters to generation callbacks: (chunkX, chunkZ, random, dimensionId, chunkSeed, worldSeed, dimensionSeed)
- Added GenerationUtils.getPerlinNoise(x, y, z, seed, scale, numOctaves)
- Added World.addGenerationCallback(callbackName, callback[, hashString]), that uniquely modifies chunk seed before calling callback

<b>2.0.1b10</b>
- Added mod loading UI
- Mods are now loading in separate thread
- Fixed UI hangs after fast-clicking on block or item with UI
- Fixed some errors with drops and tools
- Fixed fatal error tip message randomly appearing during world load

<b>2.0.0b9</b>
- Completed classic mod UI and workbench UI
- Now mod UI will close when back is pressed or app is minimized
- Fixed possible crashes from render mapping and Item.getName
- Now when all mods are stopped in case of an fatal error it is displayed as tip message
- Applied stability fixes from build 8

<b>2.0.0b8</b>
- anoter attempt to fix stability, eliminate lags and crashes upon minecraft loading (checks for crashes are required), after all this attempts best solution from builds 6-8 will be selected
- fixed new workbench

<b>2.0.0b7</b>
- anoter attempt to fix stability, eliminate lags and crashes upon minecraft loading (checks for crashes are required)

<b>2.0.0b6</b>
- more stability fixes (report any new or more frequent crashes)
- classic-styled workbench
- started migrating mod UI to classic style

<b>2.0.0b5</b>
- fixes for system versions lower than Android 9

<b>2.0.0b4</b>
- some UI fixes, mostly for devices with cutout