<b>2.4.0b122-122o1</b>
- Мелкие улучшения и рефактор некоторых частей

<b>2.4.0b120-121 (@reider745)</b>
- Исправления прокси браузера модов
- Исправления повреждающихся сохранений в некоторых случаях, из-за коллизии
- Исправлен текст сообщений об ошибках в модах
- Добавлен модуль API GameController, который позволяет эмулировать действия игрока из модов
- Добавлен метод Entity.getAllLocal
- Исправлены каллбеки EntityAddedLocal/EntityRemovedLocal в мультиплеере
- Исправлен метод Player.localPlayerTurn
- Исправления крашей в мод браузере
- Исправления некоторых крашей в игре, в частности от всплывающих сообщений на некоторых прошивках

<b>2.4.0b118-119 (@reider745)</b>
- Улучшение сетевого протокола
- Добавлены методы BlockSource для управления погодой
- Добавлен метод Particles.spawnBreakingItemParticle для создания частиц обломков предмета
- Добавлены методы Item.setShouldDespawn/setFireResistant/setExplodable
- Исправлена утечка памяти при рендере моделей

<b>2.4.0b116-117</b>
<b>Добавлена поддержка серверов с модами на основе ядра ZoteCore от @reider745, что также включает в себя</b>
- Исправления списка серверов (для модпаков список хранится в основной папке модпака)
- Исправление не статичного uuid игрока (от параметров XUID и ника игрока), исправляет сохранения инвентаря в локальной игре
- Добавлена функция синхронизации порта сокет-сервера
- Добавлена синхронизация id биомов
- Другие различные исправления для серверов

Другие изменения (@reider745)
- Добавлен прокси в мод браузере, который включается при невозможности подключиться к основной игре (spawnrys)
- Исправления синхронизации клиентской части TileEntity, добавлены новые методы onConnectionPlayer/onDisconnectionPlayer
- Теперь в сохранениях вместо ошибки будет передаваться пустой объект
- Добавлено условие ICRender.BlockState(x, y, z, stateId, valueState)
- Исправлена работа интерфейсов с челкой (Добавлен переключатель в настройки)
- Оптимизация генерации моделей предметов (добавлены настройки)
- Исправлен loadCustom у статических моделей на подключенных клиентах
- Исправлен Entity.getMobile
- World.getTime может возвращать время на клиенте

Другие изменения (@zheka_smirnov)
- Исправлены частые краши Inner Core при запуске
- Обновлен до последней версии Rhino - движок javascript для модов
- Различные оптимизации нативной части Inner Core
- Добавлен метод Player.localPlayerTurn(x, y)
- Добавлены в PlayerActor canFly/setCanFly, set/get Ability
- Исправлено то что модуль World не работал при подключении в мультиплеере
- Добавлена поддержка пустых ведер для жидкостей
- Исправлен сломанный евент наступания на блок
- Исправлено перемещение игрока с помощью Dimensions.transfer в тоже измерение где он находится
- Небольшие исправления генератора кастомных измерений
- Исправлена установка некоторых модов

<b>2.3.1b115</b>
- Множество улучшений производительности, стабильности и небольших фиксов
- Исправлен поиск и отсутсвие некоторых предметов в верстаке (например аккумулятор из IC2)
- Поддержка приоритета загрузки модов
- Добавлена экспериментальная встроенная ECS
- Добавлен метод ItemModel.setSpriteHandRender
- Добавлен метод CustomDimensionGenerator.setGenerateCaves(generate[, generateUnderwater]), fixed underwater caves generated by default
- В BlockSource добавлены методы listEntitiesOfTypeInAABB(x1, y1, z1, x2, y2, z2, stringType), fixed listEntitiesInAABB for exact type
- Добавлены методы Player.getLocal() и Player.getServer()
- Добавлены методы UI.getMinecraftUiScale() и UI.getRelMinecraftUiScale()
- Исправлен краш кастомных энчантов
- Исправлена установка сопротивления отбрасыванию броне
- Исправления процесса установки модов

<b>2.2.1b114</b>
Это обновление включает в себя ряд глобальных оптимизаций, которые должны заметно улучшить производительность. Если у вас установлен мод Kernel Extension, для работы требуется обновить его до последней версии.

<b>2.2.1b107-108</b>
- Исправлен и улучшен API верстака, добавлена полная поддержка рецептов 2х2
- Исправлен баг, из-за которого верстак не вызывал срабатывания каллбека смены экрана
- Исправлен баг версии 106, из-за которого некоторые предметы и блоки создавались неправильно

<b>2.2.1b106</b>
- Ванильный верстак теперь поддерживает полный функционал рецептов из модов. Замена интерфейса верстака теперь не используется, но ее можно включить в настройках, если возникнут проблемы.
- Оптимизация доступа к TileEntity по координатам
- Оптимизация и исправления вызовов C++ -> Java

<b>2.2.1b105</b>
- Добавлена экспериментальная возможность создания зачарований, документация: https://gist.github.com/zheka2304/188a43e9ee130c1830af6cdc308cbeff
- Небольшая оптимизация вызовов C++ -> Java
- Исправления некоторых отсутствующих иконок в интерфейсе

<b>2.2.1b104</b>
- Исправлен баг, из-за которого последний предмет в руке не тратился
- Исправлены анимированные текстуры жидкостей
- Исправлены кастомные ведра в выживании
- Теперь изменение предмета в событии ItemUse без его отмены работает корректно
- Добавлены методы Block.registerClickFunction[ForID](nameId/id, (coords, item, block, player) => void)
- Исправлены координаты, передаваемые в событие раздатчика, добавлен параметр слота (4 аргумент)

<b>2.2.1b103</b>
- При создании жидкости теперь можно автоматически создать ведро с полным функционалом (см. документацию)
- Добавлен параметр isRenewable для жидкостей, отвечающий за то, является ли она возобновляемой
- Исправлено взаимодействие ведер с жидкостями из модов

<b>2.2.1b102</b>
- Добавлен функционал для создания жидкостей, документация: https://gist.github.com/zheka2304/a93f32f612750cbffc637a265fbf9027
- Исправлены различные баги менеджера модов, добавлена возможность искать мод по его id
- Добавлены методы Entity.hasEffect(entity, effectId) и Entity.getEffect(entity, effectId)
- Добавлен метод BlockSource.setDestroyParticlesEnabled(boolean)
- Исправлено то, что Item.invokeItemUseOn не использовал BlockSource переданной сущности
- Исправлены проблемы с ломанием блоков ванильными мечами
- Исправлен вылет при уничтожении присоединяемой модели
- Исправлено создание BlockState по id блока
- Исправлен BlockState.addStates
- Другие, менее значительные исправления

<b>2.2.1b101</b>
- Исправлен баг, из-за которого блоки забора могли неправильно отображаться в мире

<b>2.2.1b100</b>
- Добавлен метод Block.getMaterial(blockId)
- Добавлены методы PlayerActor: getItemUseDuration(), getItemUseIntervalProgress(), getItemUseStartupProgress()
- Исправлена ошибка из-за которой список модов в мультиплеере строился некорректно
- Исправлено то, что BlockSource.listAllEntitiesInAABB не возвращал игрока, если ему не передавали параметров для фильтрации

<b>2.2.1b99</b>
- Исправлен баг, из-за которого синхронизация блоков в мультиплеере могла не работать
- Исправлена проверка совпадения списка модов в мультиплеере
- Исправлен вылет при запуске на старых версиях Android на некоторых устройствах

<b>2.2.1b98</b>
- Исправлен Commands.exec
- Исправлен Entity.getNameTag

<b>2.2.1b97</b>
- Теперь при игре по сети производится дополнительная синхронизация id вариаций блоков, которая должна убрать ошибку с рассинхроном id даже при разных модах на подключенных устройствах

<b>2.2.1b96</b>
- Добавлены методы Recipes.getAllWorkbenchRecipes() и Recipes.getAllFurnaceRecipes()
- Добавлен метод BlockSource.getBiomeDownfallAt(x, y, z)
- Добавлены настройки элемента слота: iconScale и disablePixelPerfect
- Добавлены методы UI.Window: updateScrollDimensions() и updateWindowPositionAndSize() 
- Добавлен новый тип расположения текста 3 - ALIGN_CENTER_HORIZONTAL
- Добавлен метод runOnClientThread(function), аналог runOnMainThread, но для клиентского потока
- Исправления числовых id предметов и связанных рецептов - звезда ада, арбуз, пластинки, лошадиная броня, огненный шар, фейерверки
- Исправлена модель нагрудника для брони из модов

<b>2.2.1b95</b>
- Добавлены методы BlockSource setExtraBlock(x, y, z, BlockState/[id, data]) и getExtraBlock(x, y, z) -> BlockState для доступа и установки дополнительных блоков, таких как вода внутри других блоков
- Добавлены параметры описания блоков "can_contain_liquid" и "can_be_extra_block"
- Добавлены методы Block.canContainLiquid(id) и Block.canBeExtraBlock(id)
- Исправлена ошибка, из-за которой изменения настроек не применялись в первый запуск после изменений
- Исправлены вылеты в конфигурации модов
- Исправлена ошибка, из-за которой настройки языка загружались некорректно
- Добавлена настройка для разработчиков, чтобы создавать дампы информации о всех блоках

<b>2.2.1b94</b>
- Исправлен баг с выбором сборок, возникший в версии 2.2.1b93
- Исправлен метод Item.isValid(id), добавлены методы IDRegistry.getStringIdAndTypeForIntegerId(id), IDRegistry.getTypeForIntegerId(id), IDRegistry.getStringIdForIntegerId(id)
- Исправлен getEnchantName у ItemExtraData

<b>2.2.1b93</b>
- Исправлена еда, добавляемая модами
- Восстановлен базовый функционал PathNavigation
- Добавлены методы для изменения цвета и дистанции подводного тумана, исправлен подводный туман в кастомных измерениях
- Добавлены события EntityAddedLocal и EntityRemovedLocal - аналоги EntityAdded и EntityRemoved на стороне клиента
- Исправлен метод Entity.setOffhandItem
- Добавлен метод Dimensions.getAllRegisteredCustomBiomes(), возвращающий объект, содержащий все кастомные биомы
- Исправления вылетов во время игры
- Исправления ошибок и небольшой редизайн менеджера модов
- Исправлена ошибка, из-за которой могла загрузиться не та сборка модов

<b>2.2.1b92</b>
- Ошибки обновляемых объектов (например механизмов) теперь не выключают все моды, вместо этого они отключают конкретный обновляемый объект.
- Исправления вылетов на некоторых устройствах 

<b>2.2.1b90-91</b>
- Хотфикс ошибок прошлой версии

<b>2.2.1b89</b>
- Исправлены ошибки, вызванные рассинхронизацией блоков в мультиплеере и работа верстака у подключенных игроков
- Добавлена возможность работы с параметрами ванильных блоков (block states)
- Исправлены ошибки с вызовом событий генерации
- Улучшена стабильность сохранений
- Исправлена вкладка ссылок
- Исправлен баг с лишними предметами в инвентаре креатива

<b>2.2.1b88</b>
- Добавлен коллбек поднятия игроком дропа EntityPickUpDrop(entity, dropEntity, dropStack, count), на данный момент вызывается только для игроков
- Обновлена страница ссылок, добавлены ссылки на статьи по разработке модов и сборок
- Исправлена ошибки ItemModel
- Исправлены другие ошибки и вылеты

<b>2.2.1b87</b>
- Исправлены ошибки системы паков, а также ошибки менеджера модов
- Исправлены отсутствующие и неправильные рецепты верстака, а также отсутствующие иконки блоков и предметов
- Добавлены полезные ссылки в пункте меню "Настройки и Ссылки"

<b>2.2.1b86</b>
- Общая оптимизация, затрагивающая многие аспекты игры, которая улучшит производительность в мире. Больше всего это проявится при нескольких крупных модах
- Исправлены сильные лаги в инвентаре креатива, если присутствуют предметы с дополнительными данными
- Немного оптимизирован поиск в креативе

<b>2.2.1b85</b>
- Глобальное обновление менеджера модов, интерфейс полностью переработан, исправлены недочеты предыдущих версий
- Добавлена поддержка сборок модов, их установки, изменения и создания своих
- Модели блоков теперь загружаются быстрее и потребляют меньше оперативной памяти
- Методы BlockSource.breakBlock/ForJsResult теперь вызывают событие DestroyBlock, если им был передан игрок или сущность, которая существует и находится в том же измерении, что и BlockSource (и вызов не был отменен в событии BreakBlock)

<b>2.2.0b84</b>
- Добавлены события PreProcessChunk и PostProcessChunk - универсальные события генерации, первое из которых вызывается перед генерацией ванильных структур, а второе после. Все остальные события генерации вызываются после генерации ванильных структур, но до PostProcessChunk
- Исправлены отсутствующие рецепты кровати и сундука
- Исправлены установка мещи в ActorRenderer
- Исправлены редкие вылеты при входе и выходе из мира
- Исправлены непрозрачность текстур на далеких блоках
- Исправлен config.json для модов с .redirect
- Элементу слота добавлен binding selection_forced

<b>2.2.0b83</b>
- Переработана система дропа блоков из модов
- Добавлено событие BreakBlock (BlockSource, position, block, isDropAllowed, player, item) - вызывается при уничтожении блока, в отличие от DestroyBlock вызывается не только при уничтожении игроком, но и при уничтожении блока новыми методами BlockSource. Событие используется в основном для реализации дропа с блоков, логика при уничтожении руками должна находиться в DestroyBlock
- Функции дропа теперь используют BreakBlock за основу
- Добавлены методы BlockSource: breakBlock(x, y, z, isDropAllowed[, actor][, item]) - уничтожает блок, вызывая событие BreakBlock, breakBlockForJsResult(x, y, z[, actor][, item]) - то же самое, что и breakBlock, однако дроп и опыт не выпадает, а возвращается как результат, формат: {experience:, items: [{id:, count:, data:, extra:}, ...]}

<b>2.2.0b82</b>
- Добавлены методы контейнера setSlotSavingEnabled(name, enabled), setGlobalSlotSavingEnabled(enabled) которые контролируют то, какие слоты сохраняются
- Добавлен параметр методу destroy в TileEntity, отвечающий за то, было ли уничтожение вызвано событием DestroyBlock
- Оптимизированы методы редактирования инвентаря игрока
- Исправлена установка способностей игрока, включая полет
- Исправлен серверный каллбек открытия ItemContainer, который происходил до отправки пакета открытия
- Исправлены некоторые рецепты печи
- Исправлен баг с загрузкой на старых версиях android
- Исправлен баг с ломанием льда

<b>2.2.0b79-81</b>
- Добавлены отсутствующие и исправлены существующие рецепты в верстаке
- Исправлен баг, из-за которого новая версия вылетала при запуске на некоторых устройствах
- Исправлен баг, из-за которого были частые вылеты при запуске на некоторых устройствах (старый баг, начиная с 1.11.4)

<b>2.2.0b78</b>
- Продолжение исправления генерации мира

<b>2.2.0b77</b>
- Исправлена генерация мира, которая вызывалась несколько раз на чанк. Это сильно снизит лаги от генерации мира.
- Генерация модов теперь проиcходит ПОСЛЕ ванильной генерации 
- Еще одна попытка исправить загрузку модов на некоторых устройствах
- Добавлены методы логгера: Logger.debug(tag, message), Logger.info(tag, message), Logger.error(tag, message[, error]);

<b>2.2.0b76</b>
- Исправлена загрузка модов с ресурспаками
- Исправлены ошибки, вызываемые сохранением
- Исправлена загрузка модов на некоторых устройствах
- Добавлен параметр category при создании предметов

<b>2.2.0b75</b>
- Перенос на Minecraft 1.16.201
- В мультиплеере может возникнуть проблема синхронизации ванильных ID блоков, для ее решения можно поменять местами хоста и клиента
- Добавлен API для рендера брони и присоединяемых к мобам моделей
- Переписан загрузчик модов
- Переписана система сохранений и некоторые другие модули
- Начата работа над ECS и Java API

<b>2.1.0b72</b>
- При подключении к миру, для всех блоков и предметов, которые по какой то причине есть у хоста, но нет у клиента, создаются пустышки, для предотвращения вылетов
- Нативный протокол протестирован на высокой нагрузке, исправлены возможные вылеты и зависания

<b>2.1.0b71</b>
- Сохранение аккаунта Xbox при повтороном запуске (экспериментальная возможность)
- Небольшие исправления

<b>2.1.0b70</b>
- Добавлена помощь по мультиплееру в окне логина в Xbox
- Увеличен таймаут инициализации клиента до 90 секунд.
- Исправления сетевых сущностей
- Другие мелкие исправления

<b>2.1.0b69</b>
- Исправлена ошибка, из-за который предметы с доп. данными могли время от времени пропадать из интерфейса
- Добавлен метод getLightLevel(x, y, z) в BlockSource

<b>2.1.0b68</b>
- Небольшие улучшения нативного протокола (Игра по сети через Xbox).

<b>2.1.0b65-67</b>
- Xbox логин теперь рабочий на большинстве устройств.

<b>2.1.0b64</b>
- Добавлена экспериментальная возможность логина в аккаунт Xbox. Теперь можно подключаться к друзьям из аккаунта Xbox с такими же модами (с поддержкой мультиплеера). Подключение через Xbox происходит только через нативный протокол.

<b>2.1.0b63</b>
- Добавлена возможность использовать нативный протокол MCPE для игры по сети. Эта опция может быть включена в настройках движка. Нативный протокол может улучшить соединение, но на данный момент может быть нестабилен.
- Небольшие исправления

<b>2.1.0b61-62</b>
- Исправления ItemContainer и BlockSource
- Другие исправления

<b>2.1.0b60</b>
- Добавлен метод exists() у анимаций
- Небольшие исправления

<b>2.1.0b59</b>
- Добавлены методы BlockRenderer.setCustomRaycastShape(id, data, collisionShape), BlockRenderer.setCustomCollisionAndRaycastShape(id, data, collisionShape)
- Добавлены методы BlockRenderer.mapCollisionModelAtCoords(dimensionId, x, y, z, model), BlockRenderer.mapRaycastModelAtCoords(dimensionId, x, y, z, model), BlockRenderer.mapCollisionAndRaycastModelAtCoords(dimensionId, x, y, z, model), для маппинга физических моделей и моделей для взаимодействия, передача null вместо модели уберет маппинг, маппинг работает на любой блок, включая воздух
- В BlockSource добавлен метод getBlock(x, y, z), возворащающий объект, содержащий id и data
- Очистка маппинга визуальных моделей и анимаций при смене измерения (на стороне клиента)
- Небольшие исправления

<b>2.1.0b58</b>
- Небольшие исправления

<b>2.1.0b57</b>
- Добавлен метод Network.inRemoteWorld() - возвращает true, если не является хостом
- Добавлено событие ItemUseLocal(coords, item, block, player) - использование предмета на стороне клиента
- Добавлено событие ConnectingToHost(host, minecraftPort, moddedPort) - подключение к удаленному миру
- Улучшения NetworkConnectedClientList
- Добавлен метод BlockSource.getCurrentClientRegion()
- Другие исправления

<b>2.1.0b56</b>
- Новая система кеширования моделей предметов, которая кеширует все модели, а не только измененные модом, и поддерживает группы кеширования.
- Вызовите ItemModel.setCurrentCacheGroup("groupName", "version") в начале мода, чтобы создать группу кеша, все модели, созданные в корне этого мода (включая стандартные модели блоков) будут занесены в эту группу. Если версия кеша группы не совпадает с установленной, то кеш будет создан заново.
- Исправлено взаимодействие ItemContainer с дополнительными данными предметов.

<b>2.1.0b55</b>
- Исправлена совместимость с Recipe Viewer
- Добавлен параметр спецтипа блока color_source, может быть одним из 4 значений: "none", "leaves", "grass", "water"
- Загрузка моделей предметов ускорена и требует меньше памяти
- Небольшие улучшения

<b>2.1.0b48-54</b>
Эти версии содержат в основном исправления после введения мультиплеера.

<b>2.1.0b47</b>
Данное обновление добавляет экспериментальную поддержку локального мультиплеера, позволяющую игрокам с одинаковыми модами и подключенными к одной сети Wi-Fi играть вместе, при условии, что моды поддерживают игру по сети.

ВСЕ МОДЫ ТРЕБУЕТСЯ ОБНОВИТЬ, ЧТОБЫ ОНИ ПОДДЕРЖИВАЛИ МУЛЬТИПЛЕЕР. Оставлена возможность подключиться к миру с модами без поддержки мультиплеера (появится предупреждение), однако это может вызвать неправильное поведение этих модов и краши.

В скором времени выйдет документация по добавлению поддержки сетевой игры в моды для их разработчиков.


<b>2.0.5b46</b>
- Исправлен баг версии 2.0.5b45, вызывавший баги иконок от предметов с доп. данными
- Исправлен баг, из-за которого менеджер модов не отображал моды с .redirect

<b>2.0.5b45</b>
- Добавлен метод модели предмета setModelOverrideCallback(function(item) {...}), которая устанавливает модели функцию, возвращающую модель предмета для конкретного предмета в мире. Работает как item override function, но для моделей.
- Добавлен метод ItemModel.newStandalone(), создающий пустую модель предмета, которая ни к чему не привязана, данные модели могут быть использованы, как результат функции setModelOverrideCallback
- Теперь в функцию определения иконки предмета (item override function) может передаваться extra
- Исправлен вылет, который мог быть вызван вызовом методом toScriptable() NBT-тэгов
- Для сборки java кода теперь используются другие инструменты (для построения .dex файлов используется d8, а не dx) 

<b>2.0.5b44</b>
- Возможность получения и изменения NBT мобов, ванильных TileEntity и предметов. Списко методов будет приведен ниже.
- Добавлены методы: Entity.getCompoundTag(entity), Entity.setCompoundTag(entity, tag)
- Добавлены методы ванильных TileEntity, возвращаемых World.getContainer(): getCompoundTag(), setCompoundTag(tag)
- Добавлены методы ItemExtraData: getCompoundTag(), setCompoundTag(tag)
- Интерфейс модов теперь поддерживает предметы модов с анимированной иконкой
- Функция динамичной иконки предметов теперь получает второй булевый параметр isModUi, показывающий, в ванильном интерфейсе иконка или нет
- Добавлен метод Debug.big, аналогичен Debug.m, однако выводит все в диалог с возможностью копирования текста и форматирует JSON
- Событие click у TileEntity теперь получает еще один аргумент - координаты клика
- Исправлен краш, происходивший в некоторых условиях от аддонов

Список методов для NBT.CompoundTag:
- constructor() - создает пустой тег
- constructor(NBT.CompoundTag) - создает копию тега
- toScriptable() - возвращает javascript-объект, представляющий все данные
- getAllKeys() - возвращает java-массив со всеми ключами
- contains(key) - проверяет, есть ли элемент по ключу
- containsValueOfType(key, type) - проверяет, есть ли элемент по ключу и типу (тип - целое число)
- getValueType(key) - возвращает тип значения по ключу
- get(Byte|Short|Int|Int64|Float|Double|String|CompoundTag|ListTag)(key) - получение значения по строковому ключу
- put(Byte|Short|Int|Int64|Float|Double|String|CompoundTag|ListTag)(key, value) - установка значения по строковому ключу
- remove(key) - удаляет значение по ключу
- clear() - полная очистка

Список методов для NBT.ListTag:
- constructor() - создает пустой список
- constructor(NBT.ListTag) - создает копию списка
- toScriptable() - возвращает javascript-объект, представляющий все данные
- length() - возвращает длину
- getValueType(index) - возвращает тип значения по индексу
- get(Byte|Short|Int|Int64|Float|Double|String|CompoundTag|ListTag)(index) - получение значения по индексу
- put(Byte|Short|Int|Int64|Float|Double|String|CompoundTag|ListTag)(index, value) - установка значения по индексу, если индекс равен длине, то элемент добавляется в конец, если индекс -1, то в начало, иначе элемент заменяется
- clear() - полная очистка




<b>2.0.4b43</b>
- Автоматическое удаление из миров паков ресурсов и поведения, которые были добавлены удаленными модами
- RenderMesh теперь может принимать не только абсолютный путь к файлу, но также путь в ресурсах мода или имя файла внутри директории models в ресурсах мода
- Параметры элемента слота isTransparentBackground и его устаревшая версия needClean теперь оба являются устаревшими, теперь слот по умолчанию поддерживает прозрачный фон
- Добавлен метод контейнера setOnOpenListener(function(container, window) {...})
- Временно убрана сборка для архитектуры x86, которая пока что не была рабочей, это снизит размер пака
- Исправлена ошибка от двойного вызова WRAP_JAVA на один и тот же класс

<b>2.0.4b42</b>
- Callback.addCallback теперь принимает опциональный 3 параметр - приоритет, который является целым числом (по умолчанию 0). События с большим значением приоритета вызываются раньше и наоборот.
- Слоты теперь поддерживают анимированый фон, который задается с помощью передачи массива имен текстур, вместо одной.
- Слоты теперь имеют параметр text, а так же на них работает метод контейнера setText. При значении этого параметра не null, текст количества будет заменен на значение этого параметра
- World.clip теперь работает не только на блоки, но и на сущности при определенных значениях параметра mode
- Исправлена генерация иконок блоков со сложными моделями в интерфейсе

<b>2.0.4b41</b>
- Исправлены размытые текстуры интерфейса на некоторых устройствах

<b>2.0.4b40</b>
- Оптимизация графического интерфейса модов. Теперь он должен открываться несколько быстрее и потреблять меньше оперативной памяти.
- Добавлен новый режим стандартного окна, где все содержимое выносится в отдельное окно справа от инвентаря. Для этого нужно использовать UI.StandardWindow вместо UI.StandartWindow, который теперь является устаревшим.
- Анимации (статические модели) теперь очищаются при переходе между измерениями
- Добавлена очистка памяти, используемой нативной частью анимаций, при уничтожении самой анимации и соответствующего ей объекта
- Паки ресурсов и поведения теперь внедряются в соответствующие папки каждого мира при входе
- Добавлен метод Updatable.addAnimator(updatable_object), который добавляет обновляемый объект, который тикает на потоке клиента и не сохраняется

<b>2.0.4b39</b>
- Небольшие исправления для предыдущих версий

<b>2.0.4b38</b>
- Добавлен экспериментальный модуль TagRegistry. Документация будет через какое то время после его отладки.
- Добавлены параметры частиц framesX, framesY для задания количества кадров по вертикали и горизонтали текстуры/региона текстуры
- Добавлен параметр частиц rebuildDelay, отвечающий за время между обновлением поворота частиц
- Добавлен параметр частиц color2 и animators.color, отвечающие за анимирование изменяющегося цвета
- Исправлен дроп полублоков
- Исправлены некоторые текстуры в интерфейсе

<b>2.0.4b37</b>
- Генератор пользовательских измерений сильно оптимизирован с помощью снижения детализации шума. Однако в случае, когда нужна высокая детализация, это можно настроить для отдельных генераторов шума.
- В ItemModel добавлены новые функции, позволяющие устанавливать отдельно текстуру в интерфейсе модов
- Добавлены события DimensionLoaded(currentId, lastId) и DimensionUnloaded(unloadedId)

<b>2.0.4b36</b>
- Незначительные исправления

<b>2.0.4b34-35</b>
- Меню настроек Inner Core сильно улучшено и дополнено новыми настройками
- Исправлена критическая ошибка, которая могла вызвать зависание серверного потока.
- Исправлены ошибки, которые могли возникать при загрузке из-за нехватки памяти
- Множествно исправлений ошибок, которые были выявлены через статистику GP
- При установке мода, можно на выбор установить его зависимости
- Система сохранений улучшена: сохранения работают стабильнее, создается резервный файл сохранений, все ошибки сохранений показываются в одном окне и не засоряют экран.
- Немного изменен вид главного меню
- Добавлен метод Entity.getAllInsideBox(coords1, coords2[, type, flag])
- Добавлен метод Entity.getDimension(entity)
- Добавлен метод Item.setAllowedInOffhand(id, allowed)
- Добавлен метод Game.simulateBackPressed()
- Исправлен и улучшен модуль навигации
- Исправлена работа методов Entity.setCarriedItem/setOffhandItem/setArmor, которые не отправляли изменения на клиент
- Исправлены краши, которые могли происходить при переходе между измерениями
- Исправлена работа поворота анимаций
- Исправлена ошибка, из-за которой паки поведения не добавлялись при первом запуске 
- Исправлено возможное дублирование паков поведения модов в папке мира
- Исправлена работа Entity.spawn с мобами аддонов
- Исправлена работа модуля Translation, теперь он позволяет добавлять переводы на язык по умолчанию
- Увеличен объем кеширования имен предметов
- Исправлен метод setTouchable для игровых оверлеев
- Другие мелкие исправления, связанные со стабильностью работы

<b>2.0.3b33</b>
- Добавлена возможность создания и передачи дополнительных параметров в шейдеры для отдельных объектов (анимаций и моделей предметов)
- Добавлен интерфейс для работы с навигацией мобов через объект, возвращаемый Entity.getPathNavigation(entity)
- Добавлена функция Entity.getAttribute(entity, name) для работы с атрибутами
- Добавлены функции: Player.setAbility(name, value), Player.getFloatAbility(name), Player.getBooleanAbility(name)
- Шейдерам анимаций добавлен параметр uniform vec3 VIEW_POS, содержащий абсолютную позицию камеры в мире

<b>2.0.3b32</b>
- Исправлены ванильные частицы и полупрозрачные модели модов которые отображались за прозрачными блоками и облаками

<b>2.0.3b31</b>
- Небольшие исправления, включающие в себя исправления кастомых измерений и моделей блоков

<b>2.0.3b30</b>
- Измерения загружены в основную версию
- Исправлены текстуры предметов с метаданными

<b>2.0.2b29</b>
- Улучшена система TileEntity: теперь не загруженные или не имеющие тика TileEntity не будут загружать лимит обновлений. Добавлены события load() и unload(), а так же onCheckerTick(isInitialized, isLoaded, wasLoaded)
- Исправлен вылет от моделей мобов
- Другие мелкие исправления

<b>2.0.2b28</b>
- Добавлена настройка disable_loading_screen, отключающая загрузочный экран и загружающая моды в основном потоке
- Исправлены методы World.clip, RenderMesh.clone, Block.setupAsRedstone[Receiver/Emitter]
- Исправления вылетов от моделей предметов

<b>2.0.2b27</b>
- Исправлена проблема с тратой предметов при нажатии на блоки с интерфейсом
- Добавлены методы в модуль World: clip(x1, y1, z1, x2, y2, z2), doesVanillaTileHasUI(id), setBlockUpdateAllowed(true, false), setBlockUpdateType(type)
- Исправлены методы работы с опытом игрока
- Исправлены трехмерные модели после сворачивания игры

<b>2.0.2b26</b>
- В конфигурацию Inner Core добавлен параметр приоритета серверного потока
- Добавлена функция Block.registerNeighbourChangeFunction[ForID](id, function(coords, block, changeCoords){})
- Добавлена функция Block.registerEntityInsideFunction[ForID](id, function(coords, block, entity){})
- Добавлена функция Block.registerEntityStepOnFunction[ForID](id, function(coords, block, entity){})
- Добавлены методы RenderMesh: rotate(x, y, z, rx, ry, rz), fitIn(x1, y1, z1, x2, y2, z2[, keepRatio]), clone()
- Исправлены положения и цвета RenderMesh в моделях предметов

<b>2.0.2b25</b>
- Описанию блока добавлен параметр sound, устанавливает один из стандартных типов звуков
- Добавлен метод RenderMesh.setLightPos(x, y, z) - устанавливает относительную позицию для получения освещения блока
- Добавлен параметр в метод RenderMesh.setFoliageTinted(leavesType)
- Исправлен метод ItemModel.occupy(), который не предотвращал установку модели ICRender предмету при установке ее блоку

<b>2.0.2b24</b>
- Исправлен вылет от большого количества блоков с RenderMesh в чанке
- Добавлены методы RenderMesh - setNoTint(), setGrassTinted(), setFoliageTinted(), setWaterTinted()
- Добавлены методы скриптов предзагрузки - Resources.getAllMatchingResources("regex"), Resources.getResourcePath("local path"), Resources.getAllResourceDirectoriesPaths()

<b>2.0.2b23</b>
<u>Полностью переписана часть, отвечающая за создание моделей предметов в инвентаре и анимаций предметов, что включает в себя:</u>
- Пользовательские модели предметов в интерфейсе модов
- Анимации предметов поддерживают пользовательские модели и материалы (теперь используют RenderMesh)
- Создание моделей предметов вынесено в отдельную стадию загрузки 
- Кеширование моделей - после первой загрузки модели будут загружаться намного быстрее
- Модуль ItemModel сильно расширен и позволяет получать доступ ко всему, что зависит от модели предмета
- Предметам можно ставить дополнительные материалы, которые будут использованы вместо эффекта зачарования
- Параметр описания блоков rendertype теперь работает корректно и влияет на модель в интерфейсе
<u>Другие нововведения:</u>
- Добавлено условие ICRender.RANDOM(value, max[, seed]) - условие для добавление случайности, генерирует для позиции случайную величину от 0 до max - 1, и срабатывает, если она равна value. Имеет метод setAxisEnabled(0-2, enabled), позволяющая игнорировать одну (или несколько) из трех координат.
- Добавлены методы Block.setupAsRedstoneReceiver(nameID, connectToRedstone) - делает блок приемником редстоуна, Block.setupAsRedstoneEmitter(nameID, connectToRedstone) - делает блок источником редстоуна, Block.setupAsNonRedstoneTile(nameID) - убирает всю связь с редстоуном
- RenderMesh: добавлен метод addMesh(mesh[, x, y, z[, scaleX, scaleY, scaleZ]]), в метод setColor добавлена поддержка прозрачности
- Описанию типа блока добавлен параметр mapcolor, который задает цвет блока на карте (в формате 0xRRGGBB)

<b>2.0.2b22</b>
- Небольшие улучшения и исправления

<b>2.0.2b21</b>
- (Экспериментально) Общая оптимизация, ориентированная на повышение FPS с использованием динамичной смены приоритетов потоков
- (Экспериментально) Оптимизация генерации мира
- Небольшие исправления моделей предметов

<b>2.0.2b20</b>
Это обновление добавляет много нового и может быть нестабильно.
- Добавлена возможность добавления новых материалов и шейдеров (больше информации будет опубликовано в скором времени)
- Добавлены пользовательские модели предметов в инвентаре и в руке, для доступа к ним используйте ItemModel.getFor(id, data)
- Добавлен новый режим анимации - модель с пользовательским материалом, чтобы войти в этот режим используйте describe({mesh: RenderMesh, skin: "texture name", material: "material name"})
- Блоки с моделями ICRender автоматически получат модели в инвентаре и в руке.
- Добавлены методы пользовательских изменений: setFogDistance(close, far), resetFogDistance()
- Небольшие изменения и исправления

<b>2.0.1b18</b>
- Добавлены директории innercore/resource_packs, innercore/behaviour_packs для добавления ресурспаков MCPE
- Локальные ресурспаки мира теперь автоматически подключаются
- Добавлен модуль AddonEntityRegistry и методы работы с мобами, добавляемыми аддонами
- Небольшие исправления

<b>2.0.1b17</b>
- Добавлен метод GenerationUtils.generateOreCustom(x, y, z, id, data, amount, mode, listOfIds[, seed]), так же добавлен необязательный дополнительный параметр seed методу GenerationUtils.generateOre
- Исправлен дроп от World.destroyBlock
- Исправлены методы Player.setHunger, Player.setSaturation, Player.setExhaustion
- Исправления дропов некоторых блоков

<b>2.0.1b16</b>
- Добавлен звук при установке механизмов
- Исправления дропов некоторых блоков
- Небольшие исправления кастомых измерений

<b>2.0.1b15</b>
- Возвращена и оптимизирована карта биомов

<b>2.0.1b14</b>
- Временно отключена возможность генерации карт биомов

<b>2.0.1b13</b>
- Небольшие исправления

<b>2.0.1b12</b>
- Добавлен улучшенный API для новых измерений.
- Исправлен вылет от предметов с пустым и не английским базовым именем (Это затронуло моды вроде Divine RPG). Это не исправит другие проблемы подобных неоптимизированных модов

<b>2.0.1b11</b>
- Добавлен полноценный интерфейс для создания новых биомов
- Добавлен каллбек GenerateBiomeMap, аналогичный каллбеку генерации чанка, нужный для создание карты биомов, используя методы World.get/setBiomeMap
- Добавлено больше параметров в каллбеки генерации, полный список параметров - (chunkX, chunkZ, random, dimensionId, chunkSeed, worldSeed, dimensionSeed)
- Добавлен метод GenerationUtils.getPerlinNoise(x, y, z, seed, scale, numOctaves)
- Добавлен метод World.addGenerationCallback(callbackName, callback[, hashString]), который перед вызовом каллбека модифицирует сид чанка уникально для этого каллбека

<b>2.0.1b10</b>
- Добавлен интерфейс загрузки модов
- Моды теперь загружаются в отдельном потоке
- Исправлено зависание интерфейса после быстрых нажатий на блок или предмет с интерфейсом
- Исправлены ошибки с некоторыми инструментами и блоками
- Исправлено появление сообщения о фатальной ошибки, когда ее не происходило

<b>2.0.0b9</b>
- Классический интерфейс и интерфейс верстака доработаны
- Теперь интерфейсы механизмов и верстака закрываются при нажатии "назад" и сворачивании игры
- Исправлены возможные краши от маппинга рендера и от Item.getName
- Теперь при остановке всех модов от ошибки это будет явно указано
- Утверждено исправление стабильности в 2.0.0b8

<b>2.0.0b8</b>
- очередная попытка исправить общую стабильность, убрать у кого-то лаги и вылеты на старте (требуется тщательная проверка), по результатам тестов 2.0.0b6, 7 и 8 будет выбрана лучшая конфигурация
- исправлен крафт в новом верстаке

<b>2.0.0b7</b>
- еще одна попытка исправить общую стабильность, убрать у кого-то лаги и вылеты на старте (требуется тщательная проверка)

<b>2.0.0b6</b>
- улучшение стабильности (эксперементально, могут появться новые вылеты)
- изменен стиль верстака на классический
- начат перенос интерфейса модов на классический стиль

<b>2.0.0b5</b>
- Исправления 2.0.0b4 для систем ниже Android 9

<b>2.0.0b4</b>
- Небольшие исправления UI, в основном для устройств с вырезом.
